BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "leds_o[0]" SITE "97" ;
LOCATE COMP "leds_o[1]" SITE "98" ;
LOCATE COMP "leds_o[2]" SITE "99" ;
LOCATE COMP "leds_o[3]" SITE "100" ;
LOCATE COMP "leds_o[4]" SITE "104" ;
LOCATE COMP "leds_o[5]" SITE "105" ;
LOCATE COMP "leds_o[6]" SITE "106" ;
LOCATE COMP "leds_o[7]" SITE "107" ;
LOCATE COMP "addr_o[0]" SITE "38" ;
LOCATE COMP "addr_o[1]" SITE "40" ;
LOCATE COMP "addr_o[2]" SITE "39" ;
LOCATE COMP "addr_o[3]" SITE "41" ;
LOCATE COMP "addr_o[4]" SITE "42" ;
LOCATE COMP "addr_o[5]" SITE "44" ;
LOCATE COMP "addr_o[6]" SITE "43" ;
LOCATE COMP "addr_o[7]" SITE "45" ;
LOCATE COMP "addr_o[8]" SITE "47" ;
LOCATE COMP "addr_o[9]" SITE "49" ;
LOCATE COMP "addr_o[10]" SITE "48" ;
LOCATE COMP "addr_o[11]" SITE "50" ;
LOCATE COMP "addr_o[12]" SITE "52" ;
LOCATE COMP "addr_o[13]" SITE "55" ;
LOCATE COMP "addr_o[14]" SITE "54" ;
LOCATE COMP "addr_o[15]" SITE "56" ;
LOCATE COMP "data_io[0]" SITE "143" ;
LOCATE COMP "data_io[1]" SITE "142" ;
LOCATE COMP "data_io[2]" SITE "141" ;
LOCATE COMP "data_io[3]" SITE "140" ;
LOCATE COMP "data_io[4]" SITE "139" ;
LOCATE COMP "data_io[5]" SITE "138" ;
LOCATE COMP "data_io[6]" SITE "133" ;
LOCATE COMP "data_io[7]" SITE "132" ;
LOCATE COMP "clk40_i" SITE "27" ;
LOCATE COMP "cen_o" SITE "57" ;
LOCATE COMP "wen_o" SITE "59" ;
LOCATE COMP "oen_o" SITE "58" ;
LOCATE COMP "vsync_o" SITE "75" ;
LOCATE COMP "hsync_o" SITE "73" ;
LOCATE COMP "red_o" SITE "78" ;
LOCATE COMP "green_o" SITE "76" ;
LOCATE COMP "blue_o" SITE "74" ;
LOCATE COMP "reset_o" SITE "125" ;
LOCATE COMP "cpuclk_o" SITE "60" ;
LOCATE COMP "state_o[0]" SITE "128" ;
LOCATE COMP "state_o[1]" SITE "127" ;
LOCATE COMP "state_o[2]" SITE "126" ;
LOCATE COMP "state_o[3]" SITE "61" ;
LOCATE COMP "state_o[4]" SITE "65" ;
LOCATE COMP "state_o[5]" SITE "62" ;
FREQUENCY NET "cpu_clkgen" 40.000000 MHz ;